<% include ../header.ejs %>
	<div class="container">
		<div class="row">
		<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<% for(var i = 0, len = results.length; i < len; i++) { %>
				<div class="well customWell2">
					<p>
						<h4><strong><a href="<%= results[i].link %>" class="white"><%= results[i].title %></a></strong></h4>
						<% if(results[i].authors !== undefined) { %>
							<p><%= results[i].authors %></p>
						<% } else { %>
							<p>No Author Listed</p>
						<% } %>
						<p><img src="<%= results[i].thumbnail %>" /></p>
					</p>
					<form action="/books" method="POST">
						<input type="hidden" name="user_id" value="<%= user.id %>">
						<input type="hidden" name="link" value="<%= results[i].link %>">
						<input type="hidden" name="thumbnail" value="<%= results[i].thumbnail %>">
						<input type="hidden" name="title" value="<%= results[i].title %>">
						<input type="submit" value="Add to Bookshelf" class="btn btn-books">
					</form>
				</div>
				<% } %>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<!-- /.Row -->
	</div>
	<!-- /.Container -->
<% include ../footer.ejs %>