<% include ../header.ejs %>
	<div class="container">
		<h1><%= book.title %></h1>
		<hr width="50%">
		<div class="row">
			<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="<%= book.url %>">
						<div class="customWell2">
							<p><img src="<%= book.thumb %>" /></p>
							<p>View on Google Books</p>
						</div>
					</a>
				</div>
			<div class="col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="customWell2">
					<form action="/books/<%= book.id %>/reviews" method="POST">
						<p><textarea class="form-control" rows="5" name="body" placeholder="Review: <%= book.title %>"></textarea></p>
						<input type="hidden" name="book_name" value="<%= book.title %>">
						<input type="Submit" class="btn btn-books">
					</form>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
<% include ../footer.ejs %>
